.bg-color-primary{
    background-color: #3C7E62;
}
.bg-color-gray{
    background-color: #F5F5F5;
}
.bg-color-secondary{
    background-color: #1e3a2e;
}
.txt-white{
    color: #ffffff;
}
.txt-gray{
    color: #7c7c7c;
}
a{
    text-decoration: none;
    color: black;
}
.p-0{
    padding:0;
}
.m-0{
    margin:0;
}

.header-padding{
    margin-bottom: 75px;
}
.letter-space-1{
    letter-spacing: 0.1em
}
.letter-space-2{
    letter-spacing: 0.2em
}
.h3{
    font-size: 1.3em;
}
.h2{
    font-size: 1.2vw;
    margin: 0;
}
.h1{
    font-size: 0.8vw;
    margin: 0;
}

.row-margin{
    margin-left: 10%;
    margin-right: 10%;
}
.fit{
    height: fit-content;
}
.footer{
    background-color: #1e2924;
    color: #ffffff;
}
@font-face {
    font-family: 'shipporiMincho';
    src: url('assets/fonts/YonagaOldMincho-Regular.ttf') format('truetype');
}

*{
    font-family: 'shipporiMincho';
}