.bg-color-primary{
    background-color: #3C7E62;
}
.txt-white{
    color: #ffffff;
}
.p-0{
    padding:0;
}
.m-0{
    margin:0;
}

.header-padding{
    margin-bottom: 75px
}
.header{
    box-shadow: 0px 10px 15px -10px;
    height:75px
}
.letter-space-1{
    letter-spacing: 0.1em
}
.letter-space-2{
    letter-spacing: 0.2em
}

.h2{
    font-size: 1.2vw;
    margin: 0;
}
.logo{
    height: 64px;
    width: 64px;
}
.no-underline{
    text-decoration: none;
}
.header-btn{
    background-color: #3C7E62;
    height: 100%;
    width: 100%;
    letter-spacing: 0.2em;
    display:block;
}
.header-btn:hover{
    transition: 0.3s;
    background-color: #1e3a2e;
    height: 100%;
    width: 100%;
    letter-spacing: 0.3em
}

.underline{
    position:relative;
    height: 100%;
    width: 100%;
    display: inline-block;
}
.underline:after{
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 25;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 1px;
    background:#ffffff;
    /*アニメーションの指定*/
    transition: all 0.3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}
.underline:hover::after {
    transform: scale(1, 0.5);/*X方向にスケール拡大*/
}

.footer{
    background-color: #1e2924;
    color: #ffffff;
}
@font-face {
    font-family: 'shipporiMincho';
    src: url('assets/fonts/YonagaOldMincho-Regular.ttf') format('truetype');
}

*{
    font-family: 'shipporiMincho';
}