.bg-color-primary{
    background-color: #3C7E62;
}
.bg-color-gray{
    background-color: #F5F5F5;
}
.txt-white{
    color: #ffffff;
}
a{
    text-decoration: none;
    color: black;
}
.p-0{
    padding:0;
}
.m-0{
    margin:0;
}
.mx-large{
    margin-right: 6rem;
    margin-left: 6rem;
}
.my-large{
    margin-top:6rem;
    margin-bottom:6rem;
}

.header-padding{
    margin-bottom: 75px;
}
.header{
    box-shadow: 0px 10px 15px -10px;
    height:75px
}
.letter-space-1{
    letter-spacing: 0.1em
}
.letter-space-2{
    letter-spacing: 0.2em
}
.h3{
    font-size: 1.3em;
}
.h2{
    font-size: 1.2vw;
    margin: 0;
}
.h1{
    font-size: 0.8vw;
    margin: 0;
}

.logo{
    height: 64px;
    width: 64px;
}
.no-underline{
    text-decoration: none;
}
.header-btn{
    background-color: #3C7E62;
    height: 100%;
    width: 100%;
    letter-spacing: 0.2em;
    display:block;
}
.header-btn:hover{
    transition: 0.3s;
    background-color: #1e3a2e;
    height: 100%;
    width: 100%;
    letter-spacing: 0.3em
}
.header-icon{
    height: 32px;
    width: 32px;
    display: inline;
}
.search-btn{
    background-color: #ffffff;
}
form{
    margin: 0;
}
.underline{
    position:relative;
    height: 100%;
    width: 100%;
    display: inline-block;
}
.underline:after{
    content: '';
    position: absolute;
    bottom: 25;
    left: 10%;
    width: 80%;
    height: 1px;
    background:#ffffff;
    transition: all 0.3s;
    transform: scale(0, 1);
    transform-origin: center top;
}
.underline:hover::after {
    transform: scale(1, 0.5);
}



.home-image{
    background-image: url(assets/image/home.png);
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    transform: scale(-1,1);
}
.row-margin{
    margin-left: 10%;
    margin-right: 10%;
}

.text-vertical{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: scale(-1,1);
}
.top-text{
    line-height:150px;
    font-size:50px;
    letter-spacing: 0.5em;
}

.product{
    border:solid 1px #dee2e6;
}
.product:hover{
    box-shadow: 0 0 0 2px #3C7E62;
}
.fit{
    height: fit-content;
}
.mycard-top{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 75%;
}
.mycard-top img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mycard-bot{
    width: 100%;
}
.mycard-bot span{
    width: 100%;
}
.stock-true{
    color: #3C7E62;
}
.stock-false{
    color: #FE5959;
}

.footer{
    background-color: #1e2924;
    color: #ffffff;
}
@font-face {
    font-family: 'shipporiMincho';
    src: url('assets/fonts/YonagaOldMincho-Regular.ttf') format('truetype');
}

*{
    font-family: 'shipporiMincho';
}