.home-image{
    background-image: url(assets/image/home.png);
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    transform: scale(-1,1);
}

.text-vertical{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: scale(-1,1);
}
.top-text{
    line-height:150px;
    font-size:50px;
    letter-spacing: 0.5em;
}